#todayCard {
    height: 160px;
    
}

.day {
    text-align: center;
    background-color: rgb(250, 210, 183);
} 

.seven, .today {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    background-color:#a8d1f3;
}

#currentDay, #currentHour {
    font-size: 18px;
}

.city {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.4;
    padding-top: 7px;
}

.jumbotron-fluid {
    margin-bottom: 2.5em;
    border-bottom: groove 1px;
    background-color:#f5ffff;
}
